/* ==========================================================================
   GRID
   ========================================================================== */

.grid {
	width: 80%;
	margin: 0 auto;
}
*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* clearfix */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	padding: 5px;
	float: left;
}
/* with ie8 support */
.column:last-of-type,.column.last {
	padding-right: 5px;
	float: right;
}
/* float columns right - top columns will appear on the right handside on desktop but on top for mobile */
.column.rtl {
	float: right;
}
.column.rtl:last-of-type,.column.rtl.last {
	padding-left: 5px;
	float: left;
}
/* bottom-align column */
.column.bottom {
	position: absolute;
	bottom: 0;
}
/* center-align column */
.column.middle {
	height: 50%;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
}
.column.middle.right {
	right: 0;
}

.twelve {
	width: 100%;
}
.eleven {
	width: 91.666667%;
}
.ten {
	width: 83.333333%;
}
.nine {
	width: 75%;
}
.eight {
	width: 66.666667%;
}
.seven {
width: 58.333333%;
}
.six {
	width: 50%;
}
.five  {
	width: 41.666667%;
}
.four {
	width: 33.33%;
}
.three {
	width: 25%;
}
.two {
	width: 16.666667%;
}
.one {
	width: 8.333333333%;
}

.inner {
	padding: 5px;
	background: #ccc;
	text-align: center;
	border-radius: 4px; 
}

@media only screen and (max-width: 480px) {
	.column {
		width: 100%;
	}
	.column.bottom,.column.middle {
		position: relative;
	}
	/* increase gutter */
	.inner {
		padding: 5px 20px;
	}
}