/* ==========================================================================
   LAYOUT
   ========================================================================== */

section[role="document"]{
	margin-bottom: 100px;
	padding:0 5%;
}